// begin #header
#header.header.navbar-default
  // begin navbar-header
  .navbar-header
    a.navbar-brand(href='index.html')
      span.navbar-logo
        i.ion-ios-cloud
      b Color
      |  Admin
    button.navbar-toggle(type='button', data-click='sidebar-toggled')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  // end navbar-header
  // begin header-nav
  ul.navbar-nav.navbar-right
    li
      form.navbar-form
        .form-group
          input.form-control(type='text', placeholder='Enter keyword')
          button.btn.btn-search(type='submit')
            i.ion-ios-search-strong
    li.dropdown
      a.dropdown-toggle.icon(href='javascript:;', data-toggle='dropdown')
        i.ion-ios-bell
        span.label 5
      ul.dropdown-menu.media-list.dropdown-menu-right
        li.dropdown-header NOTIFICATIONS (5)
        li.media
          a(href='javascript:;')
            .media-left
              i.fa.fa-bug.media-object.bg-silver-darker
            .media-body
              h6.media-heading
                | Server Error Reports 
                i.fa.fa-exclamation-circle.text-danger
              .text-muted.f-s-11 3 minutes ago
        li.media
          a(href='javascript:;')
            .media-left
              img.media-object(src='/img/user/user-1.jpg', alt='')
              i.fab.fa-facebook-messenger.text-primary.media-object-icon
            .media-body
              h6.media-heading John Smith
              p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
              .text-muted.f-s-11 25 minutes ago
        li.media
          a(href='javascript:;')
            .media-left
              img.media-object(src='/img/user/user-2.jpg', alt='')
              i.fab.fa-facebook-messenger.text-primary.media-object-icon
            .media-body
              h6.media-heading Olivia
              p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
              .text-muted.f-s-11 35 minutes ago
        li.media
          a(href='javascript:;')
            .media-left
              i.fa.fa-plus.media-object.bg-silver-darker
            .media-body
              h6.media-heading  New User Registered
              .text-muted.f-s-11 1 hour ago
        li.media
          a(href='javascript:;')
            .media-left
              i.fa.fa-envelope.media-object.bg-silver-darker
              i.fab.fa-google.text-warning.media-object-icon.f-s-14
            .media-body
              h6.media-heading  New Email From John
              .text-muted.f-s-11 2 hour ago
        li.dropdown-footer.text-center
          a(href='javascript:;') View more
    li.dropdown.navbar-user
      a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
        span.user-image.online
          img(src='/img/user/user-13.jpg', alt='')
        span.d-none.d-md-inline Adam Schwartz
        b.caret
      .dropdown-menu.dropdown-menu-right
        a.dropdown-item(href='javascript:;') Edit Profile
        a.dropdown-item(href='javascript:;')
          span.badge.badge-danger.pull-right 2
          |  Inbox
        a.dropdown-item(href='javascript:;') Calendar
        a.dropdown-item(href='javascript:;') Setting
        .dropdown-divider
        a.dropdown-item(href='javascript:;') Log Out
  // end header navigation right
// end #header